.navbar-toggler-icon {
    background-image: none;
    position: relative;
    width: 24px;
    height: 3px;
    background-color: rgb(220, 220, 220);
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(220, 220, 220);
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    bottom: -8px;
}
