.weatherCard {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    background-color: #0469c73d;
    padding: 20px 20px;
    display: flex;
    font-weight: 350;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.weatherCard h2 {
    text-transform: capitalize;
    font-weight: 350;
}

.weatherContainer h2 {
    font-weight: 300;
}

.CardHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: start;
}

.description {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.weatherContent {
    text-align: start;
    gap: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}

@media (max-width: 720px) {

    .weatherCard {
        width: 350px;
        flex-direction: column;
    }

    .weatherCard img {
        height: 50px;
        width: 50px;
    }
}