.weatherCard {
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--transparent-light-grey);
    margin-top: 10px;
    background-color: rgb(184, 184, 184);
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CardHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: start;
}

.description {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.weatherContent {
    text-align: start;
    gap: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}

@media (max-width: 720px) {

    .weatherCard {
        width: 350px;
        flex-direction: column;
    }

    .weatherCard img {
        height: 50px;
        width: 50px;
    }
}