:root {
    --transparent-dark-grey: rgba(43, 43, 43, 0.726);
    --transparent-light-grey: rgba(124, 124, 124, 0.726);
    --light-grey: grey;
    --border-grey: rgba(245, 245, 245, 0.685);
    --white: #b4b4b4;
}

.weatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: all ease-in-out .6;
}

.weatherContainer p {
    font-weight: 269;
    width: 300px;
}

.weatherContainer h1 {
    font-weight: 350;
}

form {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
    border-radius: 50px;
    max-width: 240px;
    background-color: #0469c73d;
}

.searchInput {
    padding: 14px 25px;
    border: none;
    color: var(--white);
    background-color: transparent;
    width: 100%;
    font-size: 1.2rem;
    outline: none;
}

.submitButton {
    background-color: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    opacity: 0.8;
}

