.formsContainer {
    background-color: transparent;
    width: 100%;
    display: flex;
    padding: 80px 0;
    margin: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.formsHeader {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.formsContainer form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.emailInput {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    color: #333;
    background-color: #f9f9f9;
    width: 280px;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.emailInput:focus {
    outline: none;
    border-color: #1581c9;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitButton {
    margin-top: 20px;
    width: 160px;
    background-color: #1581c9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.submitButton:hover {
    background-color: #105a7d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeButton {
    background-color: #888888;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
}

.closeButton:hover {
    background-color: #757575;
}
